{% extends 'shared/layout.njk' %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block journeyContent %}
  <h1 class="govuk-heading-l">Sorry, we are unable to sign you in.</h1>
  <p class="govuk-body">Please <a class="govuk-link" href="/auth/sign-in">try again</a>.</p>
{% endblock %}
