{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% if currentAddress %}
  {{ govukSummaryList({
    card: {
      title: { text: currentAddress.title },
      attributes: { role: "region", "aria-label": currentAddress.title }
    },
    rows: [
      {
        key: { text: currentAddress.name },
        value: { text: currentAddress.summary },
        actions: {
          items: [
            {
              href: currentAddress.editHref,
              text: currentAddress.editDetails,
              visuallyHiddenText: currentAddress.title | lower
            }
          ]
        }
      }
    ]
  }) }}
{% endif %}
